<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> <!--<![endif]-->

<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <title>Recipes Food - Food & Recipes Food Template</title>
    <meta name="description" content="Recipes Food - Food & Recipes Food Template">
    <meta name="keywords" content="recipes food, recipes , sushi, chinese, italian food">
    <meta name="author" content="themearabia.net">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Main Style -->
    <link rel="stylesheet" href="{{ asset('assets/style.css') }}">

    <!-- customize CSS Style -->
    <link rel="stylesheet" href="{{ asset('assets/css/customize.css') }}">

    <!-- Skins Style -->
    <link rel="stylesheet" href="{{ asset('assets/css/skins/skins.css') }}">

    <!-- Responsive Style -->
    <link rel="stylesheet" href="{{ asset('assets/css/responsive.css') }}">

    <!-- Favicons -->
    <link rel="shortcut icon" href="{{ asset('assets/images/favicon.png') }}">


    <!-- Skins -->
    <!-- just remove the below comments witch color skin you want to use -->
    <!--<link rel="stylesheet" href="css/skins/blue.css">-->
    <!--<link rel="stylesheet" href="css/skins/yellow.css">-->
    <!--<link rel="stylesheet" href="css/skins/green.css">-->
    <!--<link rel="stylesheet" href="css/skins/cyan.css">-->
    <!--<link rel="stylesheet" href="css/skins/orange.css">-->
    <!--<link rel="stylesheet" href="css/skins/pink.css">-->
    <!--<link rel="stylesheet" href="css/skins/purple.css">-->
    <!--<link rel="stylesheet" href="css/skins/red.css">-->
    <!--<link rel="stylesheet" href="css/skins/lactic.css">-->
    <!--<link rel="stylesheet" href="css/skins/darkred.css">-->

</head>

<body class="sticky">

    <!--[if lte IE 8]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a>.</p>
    <![endif]-->

    <!-- Preload -->
    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div><!-- End Preload -->

    <!-- wrap Page -->
    <div id="wrap">

        <!-- Header Top -->
        <div id="header-top">
            <div class="container">
                <div class="row">
                    <nav class="col-md-6 col-sm-6 col-xs-7">
                        <div class="main-menu-2">
                            <ul>
                                <li><a href="login.html"><i class="fas fa-sign-in-alt"></i> Loginn</a></li>
                                <li><a href="register.html"><i class="fas fa-user-plus"></i> Register</a></li>
                            </ul>
                        </div><!-- End main-menu-2 -->
                    </nav>
                </div>
            </div>
        </div><!-- End Header Top -->
        <!-- Header -->
        <header class="style2">
            <div class="container">
                <div class="logo">
                    <a href="#">
                        <img src="images/logo-green.png" alt="" class="hidden-sm hidden-xs">
                        <img src="images/logo.png" alt="" class="hidden-lg hidden-md">
                    </a>
                </div>

                <div class="row">
                    <nav class="col-md-6">
                        <div class="main-menu pull-left">
                            <ul>
                                <li class="submenu">
                                    <a href="index-2.html" class="show-submenu"><i class="icon_house_alt"></i> Home <i
                                            class="fas fa-angle-down"></i></a>
                                </li>
                                <li class="megamenu submenu">
                                    <a href="javascript:void(0);" class="show-submenu-mega"><i
                                            class="ic icon-plus-circle"></i> Pages <i class="fas fa-angle-down"></i></a>
                                    <div class="menu-wrapper">
                                        <div class="col-md-4">
                                            <h3>Pages</h3>
                                            <ul>
                                                <li><a href="login.html"><i class="fas fa-sign-in-alt"></i> User
                                                        Login</a></li>
                                                <li><a href="register.html"><i class="fas fa-user-plus"></i> User
                                                        Register</a></li>
                                                <li><a href="page-right-sidebar.html"><i class="far fa-file-alt"></i>
                                                        Page (Right sidebar)</a></li>
                                                <li><a href="page-left-sidebar.html"><i class="far fa-file-alt"></i>
                                                        Page (Left sidebar)</a></li>
                                                <li><a href="page-full-width.html"><i class="far fa-file-alt"></i> Page
                                                        (Full width)</a></li>
                                                <li><a href="single-checkalso.html"><i class="far fa-check-circle"></i>
                                                        Check Also Left</a></li>
                                                <li><a href="single-checkalso-right.html"><i
                                                            class="far fa-check-circle"></i> Check Also Right</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-4">
                                            <h3>Pages</h3>
                                            <ul>
                                                <li><a href="contacts.html"><i class="fas fa-paper-plane"></i>
                                                        Contacts</a></li>
                                                <li><a href="about.html"><i class="fas fa-info-circle"></i> About us</a>
                                                </li>
                                                <li><a href="faq.html"><i class="far fa-life-ring"></i> Faq</a></li>
                                                <li><a href="shortcodes.html"><i class="fas fa-code"></i> Shortcodes</a>
                                                </li>
                                                <li><a href="reviewstyle.html"><i class="fas fa-star"></i> Review
                                                        Style</a></li>
                                                <li><a href="topreview.html"><i class="fas fa-star"></i> Top Review</a>
                                                </li>
                                                <li><a href="404.html"><i class="fas fa-bolt"></i> 404 Error Page</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-4">
                                            <h3>Pages</h3>
                                            <ul>
                                                <li><a href="pricing.html"><i class="far fa-money-bill-alt"></i>
                                                        Pricing</a></li>
                                                <li><a href="create-recipe.html"><i class="far fa-plus-square"></i>
                                                        Create Recipe</a></li>
                                                <li><a href="single-recipes.html"><i class="ic icon-recipes"></i> Single
                                                        Recipe</a></li>
                                                <li><a href="single-chef.html"><i class="ic icon-chefs"></i> Single
                                                        Chef</a></li>
                                                <li><a href="single-video.html"><i class="ic icon-videos"></i> Single
                                                        Video</a></li>
                                                <li><a href="single-book.html"><i class="ic icon-books"></i> Single
                                                        Book</a></li>
                                                <li><a href="reading-position-indicator.html"><i
                                                            class="fas fa-minus"></i> reading position indicator</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="submenu">
                                    <a href="javascript:void(0);" class="show-submenu"><i class="ic icon-post"></i> Blog
                                        <i class="fas fa-angle-down"></i></a>
                                    <ul>
                                        <li><a href="blog-right-sidebar.html">Blog 1 (Right sidebar)</a></li>
                                        <li><a href="blog-left-sidebar.html">Blog 1 (Left sidebar)</a></li>
                                        <li><a href="blog-full-width.html">Blog 1 (Full Width)</a></li>
                                        <li><a href="blog-2-right-sidebar.html">Blog 2 (Right sidebar)</a></li>
                                        <li><a href="blog-2-left-sidebar.html">Blog 2 (Left sidebar)</a></li>
                                        <li><a href="blog-2-full-width.html">Blog 2 (Full Width)</a></li>
                                        <li><a href="single-post-right-sidebar.html">Single (Right sidebar)</a></li>
                                        <li><a href="single-post-left-sidebar.html">Single (Left sidebar)</a></li>
                                        <li><a href="single-post-full-width.html">Single (Full Width)</a></li>
                                    </ul>
                                </li>
                                <li><a href="recipes.html"><i class="ic icon-recipes"></i> Recipes</a></li>
                            </ul>
                        </div><!-- End main-menu -->
                    </nav>
                    <nav class="col-md-6">
                        <div class="main-menu">
                            <ul>
                                <li><a href="chefs.html"><i class="ic icon-chefs"></i> Chefs</a></li>
                                <li class="submenu">
                                    <a href="javascript:void(0);" class="show-submenu"><i
                                            class="ic icon-community2"></i> Community <i
                                            class="fas fa-angle-down"></i></a>
                                    <ul>
                                        <li><a href="community.html">Community</a></li>
                                        <li><a href="single-forum.html">Single Forum</a></li>
                                        <li><a href="single-topic.html">Single Topic</a></li>
                                    </ul>
                                </li>
                                <li><a href="videos.html"><i class="ic icon-videos"></i> Videos</a></li>
                                <li><a href="books.html"><i class="ic icon-books"></i> Books</a></li>
                            </ul>
                        </div><!-- End main-menu -->
                    </nav>
                </div><!-- End row -->
            </div><!-- End container -->
        </header><!-- End Header -->
        <!-- SubHeader -->
        <section class="parallax-window" data-parallax="scroll" data-image-src="http://placehold.it/1400x520"
            data-natural-width="1400" data-natural-height="520">
            <div id="sub_header">
                <div class="container" id="sub_content">
                    <div class="row">
                        <div class="col-md-12">
                            <h1>More than <span class="number">80000</span> Recipe.</h1>
                            <h3>We Know How To Make Your Life Awesome.</h3>
                            <form method="post" action="#">
                                <div id="custom-search-input">
                                    <div class="input-group">
                                        <input type="text" class="search-query" placeholder="Search...">
                                        <span class="input-group-btn">
                                            <input type="submit" class="btn_search" value="submit">
                                        </span>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div><!-- End row -->
                </div><!-- End container -->
            </div>
        </section>
        <!-- End SubHeader -->

        <div class="container margin_60">
            <div class="main_title">
                <h2 class="nomargin_top">Topp Review</h2>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod</p>
                <hr class="divider">
            </div><!-- End main_title -->
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="recipes-review">
                        <div class="recipes-img">
                            <img src="http://placehold.it/350x220" alt="" />
                            <div class="favorite active"><a href="javascript:void(0);"><i class="fas fa-heart"></i></a>
                            </div>
                        </div>
                        <div class="recipes-content">
                            <h3><a href="#">Lorem ipsum dolor sit amet</a></h3>
                            <div class="ratings">
                                <ul class="stars">
                                    <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                    <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                    <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                    <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                    <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                </ul><!-- End stars -->
                                <span>134</span>
                            </div>
                            <div class="col-details">
                                <ul class="details">
                                    <li>
                                        <img src="http://placehold.it/48x48" class="img-profile" alt="">
                                    </li>
                                    <li>
                                        <h4>Themearabia</h4>
                                        <ul class="favorites">
                                            <li><i class="fas fa-heart"></i></li>
                                            <li><span>235</span></li>
                                        </ul>
                                        <ul class="comments">
                                            <li><i class="far fa-comments"></i></li>
                                            <li><span>36</span></li>
                                        </ul>
                                    </li>
                                </ul>
                                <div class="review-final-score">
                                    <h3>9.9</h3>
                                    <h4>Review Score</h4>
                                </div>
                            </div>
                        </div>
                        <div class="review-box review-percentage">
                            <h2 class="review-box-header">Review Title</h2>
                            <div class="review-item">
                                <h5>Design - 10</h5><span style="width: 100%;"></span>
                            </div>
                            <div class="review-item">
                                <h5>Design - 9.1</h5><span style="width: 91%;"></span>
                            </div>
                            <div class="review-item">
                                <h5>Design - 9.4</h5><span style="width: 94%;"></span>
                            </div>
                            <div class="review-item">
                                <h5>Design - 9</h5><span style="width: 90%;"></span>
                            </div>
                            <div class="review-item">
                                <h5>Design - 9.6</h5><span style="width: 96%;"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="recipes-review">
                        <div class="recipes-img">
                            <img src="http://placehold.it/350x220" alt="" />
                            <div class="favorite active"><a href="javascript:void(0);"><i class="fas fa-heart"></i></a>
                            </div>
                        </div>
                        <div class="recipes-content">
                            <h3><a href="#">Lorem ipsum dolor sit amet</a></h3>
                            <div class="ratings">
                                <ul class="stars">
                                    <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                    <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                    <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                    <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                    <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                </ul><!-- End stars -->
                                <span>134</span>
                            </div>
                            <div class="col-details">
                                <ul class="details">
                                    <li>
                                        <img src="http://placehold.it/48x48" class="img-profile" alt="">
                                    </li>
                                    <li>
                                        <h4>Themearabia</h4>
                                        <ul class="favorites">
                                            <li><i class="fas fa-heart"></i></li>
                                            <li><span>235</span></li>
                                        </ul>
                                        <ul class="comments">
                                            <li><i class="far fa-comments"></i></li>
                                            <li><span>36</span></li>
                                        </ul>
                                    </li>
                                </ul>
                                <div class="review-final-score">
                                    <h3>9.9</h3>
                                    <h4>Review Score</h4>
                                </div>
                            </div>
                        </div>
                        <div class="review-box review-percentage">
                            <h2 class="review-box-header">Review Title</h2>
                            <div class="review-item">
                                <h5>Design - 10</h5><span style="width: 100%;"></span>
                            </div>
                            <div class="review-item">
                                <h5>Design - 9.1</h5><span style="width: 91%;"></span>
                            </div>
                            <div class="review-item">
                                <h5>Design - 9.4</h5><span style="width: 94%;"></span>
                            </div>
                            <div class="review-item">
                                <h5>Design - 9</h5><span style="width: 90%;"></span>
                            </div>
                            <div class="review-item">
                                <h5>Design - 9.6</h5><span style="width: 96%;"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="recipes-review">
                        <div class="recipes-img">
                            <img src="http://placehold.it/350x220" alt="" />
                            <div class="favorite"><a href="javascript:void(0);"><i class="fas fa-heart"></i></a></div>
                        </div>
                        <div class="recipes-content">
                            <h3><a href="#">Lorem ipsum dolor sit amet</a></h3>
                            <div class="ratings">
                                <ul class="stars">
                                    <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                    <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                    <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                    <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                    <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                </ul><!-- End stars -->
                                <span>134</span>
                            </div>
                            <div class="col-details">
                                <ul class="details">
                                    <li>
                                        <img src="http://placehold.it/48x48" class="img-profile" alt="">
                                    </li>
                                    <li>
                                        <h4>Themearabia</h4>
                                        <ul class="favorites">
                                            <li><i class="fas fa-heart"></i></li>
                                            <li><span>235</span></li>
                                        </ul>
                                        <ul class="comments">
                                            <li><i class="far fa-comments"></i></li>
                                            <li><span>36</span></li>
                                        </ul>
                                    </li>
                                </ul>
                                <div class="review-final-score">
                                    <h3>9.9</h3>
                                    <h4>Review Score</h4>
                                </div>
                            </div>
                        </div>
                        <div class="review-box review-percentage">
                            <h2 class="review-box-header">Review Title</h2>
                            <div class="review-item">
                                <h5>Design - 10</h5><span style="width: 100%;"></span>
                            </div>
                            <div class="review-item">
                                <h5>Design - 9.1</h5><span style="width: 91%;"></span>
                            </div>
                            <div class="review-item">
                                <h5>Design - 9.4</h5><span style="width: 94%;"></span>
                            </div>
                            <div class="review-item">
                                <h5>Design - 9</h5><span style="width: 90%;"></span>
                            </div>
                            <div class="review-item">
                                <h5>Design - 9.6</h5><span style="width: 96%;"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="recipes-review">
                        <div class="recipes-img">
                            <img src="http://placehold.it/350x220" alt="" />
                            <div class="favorite"><a href="javascript:void(0);"><i class="fas fa-heart"></i></a></div>
                        </div>
                        <div class="recipes-content">
                            <h3><a href="#">Lorem ipsum dolor sit amet</a></h3>
                            <div class="ratings">
                                <ul class="stars">
                                    <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                    <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                    <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                    <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                    <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                </ul><!-- End stars -->
                                <span>134</span>
                            </div>
                            <div class="col-details">
                                <ul class="details">
                                    <li>
                                        <img src="http://placehold.it/48x48" class="img-profile" alt="">
                                    </li>
                                    <li>
                                        <h4>Themearabia</h4>
                                        <ul class="favorites">
                                            <li><i class="fas fa-heart"></i></li>
                                            <li><span>235</span></li>
                                        </ul>
                                        <ul class="comments">
                                            <li><i class="far fa-comments"></i></li>
                                            <li><span>36</span></li>
                                        </ul>
                                    </li>
                                </ul>
                                <div class="review-final-score">
                                    <h3>9.9</h3>
                                    <h4>Review Score</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="recipes-review">
                        <div class="recipes-img">
                            <img src="http://placehold.it/350x220" alt="" />
                            <div class="favorite"><a href="javascript:void(0);"><i class="fas fa-heart"></i></a></div>
                        </div>
                        <div class="recipes-content">
                            <h3><a href="#">Lorem ipsum dolor sit amet</a></h3>
                            <div class="ratings">
                                <ul class="stars">
                                    <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                    <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                    <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                    <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                    <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                </ul><!-- End stars -->
                                <span>134</span>
                            </div>
                            <div class="col-details">
                                <ul class="details">
                                    <li>
                                        <img src="http://placehold.it/48x48" class="img-profile" alt="">
                                    </li>
                                    <li>
                                        <h4>Themearabia</h4>
                                        <ul class="favorites">
                                            <li><i class="fas fa-heart"></i></li>
                                            <li><span>235</span></li>
                                        </ul>
                                        <ul class="comments">
                                            <li><i class="far fa-comments"></i></li>
                                            <li><span>36</span></li>
                                        </ul>
                                    </li>
                                </ul>
                                <div class="review-final-score">
                                    <h3>9.9</h3>
                                    <h4>Review Score</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="recipes-review">
                        <div class="recipes-img">
                            <img src="http://placehold.it/350x220" alt="" />
                            <div class="favorite"><a href="javascript:void(0);"><i class="fas fa-heart"></i></a></div>
                        </div>
                        <div class="recipes-content">
                            <h3><a href="#">Lorem ipsum dolor sit amet</a></h3>
                            <div class="ratings">
                                <ul class="stars">
                                    <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                    <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                    <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                    <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                    <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                </ul><!-- End stars -->
                                <span>134</span>
                            </div>
                            <div class="col-details">
                                <ul class="details">
                                    <li>
                                        <img src="http://placehold.it/48x48" class="img-profile" alt="">
                                    </li>
                                    <li>
                                        <h4>Themearabia</h4>
                                        <ul class="favorites">
                                            <li><i class="fas fa-heart"></i></li>
                                            <li><span>235</span></li>
                                        </ul>
                                        <ul class="comments">
                                            <li><i class="far fa-comments"></i></li>
                                            <li><span>36</span></li>
                                        </ul>
                                    </li>
                                </ul>
                                <div class="review-final-score">
                                    <h3>9.9</h3>
                                    <h4>Review Score</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- End container -->

        <div class="white_bg">
            <div class="container margin_60">
                <div class="main_title">
                    <h2 class="nomargin_top">Hello, We Are Recipes Food</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam.</p>
                    <hr class="divider">
                </div><!-- End main_title -->
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="box-icon">
                            <div><i class="ic icon-recipes"></i></div>
                            <h3>Recipes</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam.</p>
                            <a href="#" class="button-radius">Browse More Recipe</a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="box-icon">
                            <div><i class="ic icon-videos"></i></div>
                            <h3>Videos</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam.</p>
                            <a href="#" class="button-radius">Browse More Videos</a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="box-icon">
                            <div><i class="ic icon-books"></i></div>
                            <h3>Books</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam.</p>
                            <a href="#" class="button-radius">Browse More Books</a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="box-icon">
                            <div><i class="ic icon-post"></i></div>
                            <h3>Blog</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam.</p>
                            <a href="#" class="button-radius">Browse More Blog</a>
                        </div>
                    </div>
                </div><!-- End row -->
            </div><!-- End container -->
        </div><!-- End white_bg -->

        <div class="container margin_60">
            <div class="main_title">
                <h2 class="nomargin_top">Menu Of The Day</h2>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod</p>
                <hr class="divider">
            </div><!-- End main_title -->
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="menu-item">
                        <div class="menu-img"><img src="http://placehold.it/270x200" alt="" /></div>
                        <div class="menu-content">
                            <ul class="stars">
                                <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                <li><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                <li><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                            </ul><!-- End stars -->
                            <h3><a href="#">Lorem ipsum dolor sit amet</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing
                                condimentum tristique vel, eleifend sed turpis.</p>
                            <a href="#" class="button-more">Continue reading</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="menu-item">
                        <div class="menu-img"><img src="http://placehold.it/270x200" alt="" /></div>
                        <div class="menu-content">
                            <ul class="stars">
                                <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                <li><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                <li><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                            </ul><!-- End stars -->
                            <h3><a href="#">Lorem ipsum dolor sit amet</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing
                                condimentum tristique vel, eleifend sed turpis.</p>
                            <a href="#" class="button-more">Continue reading</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="menu-item">
                        <div class="menu-img"><img src="http://placehold.it/270x200" alt="" /></div>
                        <div class="menu-content">
                            <ul class="stars">
                                <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                <li><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                <li><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                            </ul><!-- End stars -->
                            <h3><a href="#">Lorem ipsum dolor sit amet</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing
                                condimentum tristique vel, eleifend sed turpis.</p>
                            <a href="#" class="button-more">Continue reading</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="menu-item">
                        <div class="menu-img"><img src="http://placehold.it/270x200" alt="" /></div>
                        <div class="menu-content">
                            <ul class="stars">
                                <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                <li><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                <li><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                            </ul><!-- End stars -->
                            <h3><a href="#">Lorem ipsum dolor sit amet</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing
                                condimentum tristique vel, eleifend sed turpis.</p>
                            <a href="#" class="button-more">Continue reading</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="menu-item">
                        <div class="menu-img"><img src="http://placehold.it/270x200" alt="" /></div>
                        <div class="menu-content">
                            <ul class="stars">
                                <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                <li><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                <li><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                            </ul><!-- End stars -->
                            <h3><a href="#">Lorem ipsum dolor sit amet</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing
                                condimentum tristique vel, eleifend sed turpis.</p>
                            <a href="#" class="button-more">Continue reading</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="menu-item">
                        <div class="menu-img"><img src="http://placehold.it/270x200" alt="" /></div>
                        <div class="menu-content">
                            <ul class="stars">
                                <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                <li><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                <li><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                            </ul><!-- End stars -->
                            <h3><a href="#">Lorem ipsum dolor sit amet</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing
                                condimentum tristique vel, eleifend sed turpis.</p>
                            <a href="#" class="button-more">Continue reading</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="menu-item">
                        <div class="menu-img"><img src="http://placehold.it/270x200" alt="" /></div>
                        <div class="menu-content">
                            <ul class="stars">
                                <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                <li><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                <li><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                            </ul><!-- End stars -->
                            <h3><a href="#">Lorem ipsum dolor sit amet</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing
                                condimentum tristique vel, eleifend sed turpis.</p>
                            <a href="#" class="button-more">Continue reading</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="menu-item">
                        <div class="menu-img"><img src="http://placehold.it/270x200" alt="" /></div>
                        <div class="menu-content">
                            <ul class="stars">
                                <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                <li><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                <li><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                            </ul><!-- End stars -->
                            <h3><a href="#">Lorem ipsum dolor sit amet</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing
                                condimentum tristique vel, eleifend sed turpis.</p>
                            <a href="#" class="button-more">Continue reading</a>
                        </div>
                    </div>
                </div>
            </div><!-- End row -->
        </div><!-- End container -->
        <div class="white_bg">
            <div class="container margin_60">
                <div class="main_title">
                    <h2 class="nomargin_top">Recipe</h2>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod</p>
                    <hr class="divider">
                </div><!-- End main_title -->
                <div class="row">
                    <div class="col-md-6">
                        <div class="col-recipe">
                            <div class="photo">
                                <img src="http://placehold.it/400x400" alt="">
                                <span class="image-fader"><span class="hover-icon"><a href="javascript:void(0);"><i
                                                class="fas fa-heart"></i></a></span></span>
                            </div>
                            <div class="excerpt">
                                <h3><a href="#">Lorem ipsum dolor sit amet</a></h3>
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                                    tempor invidunt ut labore et</p>
                                <ul class="stars">
                                    <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                    <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                    <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                    <li><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                    <li><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                </ul><!-- End stars -->
                            </div><!-- End excerpt -->
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="col-recipe">
                            <div class="photo">
                                <img src="http://placehold.it/400x400" alt="">
                                <span class="image-fader"><span class="hover-icon"><a href="javascript:void(0);"><i
                                                class="fas fa-heart"></i></a></span></span>
                            </div>
                            <div class="excerpt">
                                <h3><a href="#">Lorem ipsum dolor sit amet</a></h3>
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                                    tempor invidunt ut labore et</p>
                                <ul class="stars">
                                    <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                    <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                    <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                    <li><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                    <li><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                </ul><!-- End stars -->
                            </div><!-- End excerpt -->
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="col-recipe">
                            <div class="photo">
                                <img src="http://placehold.it/400x400" alt="">
                                <span class="image-fader"><span class="hover-icon"><a href="javascript:void(0);"><i
                                                class="fas fa-heart"></i></a></span></span>
                            </div>
                            <div class="excerpt">
                                <h3><a href="#">Lorem ipsum dolor sit amet</a></h3>
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                                    tempor invidunt ut labore et</p>
                                <ul class="stars">
                                    <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                    <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                    <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                    <li><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                    <li><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                </ul><!-- End stars -->
                            </div><!-- End excerpt -->
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="col-recipe">
                            <div class="photo">
                                <img src="http://placehold.it/400x400" alt="">
                                <span class="image-fader"><span class="hover-icon"><a href="javascript:void(0);"><i
                                                class="fas fa-heart"></i></a></span></span>
                            </div>
                            <div class="excerpt">
                                <h3><a href="#">Lorem ipsum dolor sit amet</a></h3>
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                                    tempor invidunt ut labore et</p>
                                <ul class="stars">
                                    <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                    <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                    <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                    <li><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                    <li><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                </ul><!-- End stars -->
                            </div><!-- End excerpt -->
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="col-recipe">
                            <div class="photo">
                                <img src="http://placehold.it/400x400" alt="">
                                <span class="image-fader"><span class="hover-icon"><a href="javascript:void(0);"><i
                                                class="fas fa-heart"></i></a></span></span>
                            </div>
                            <div class="excerpt">
                                <h3><a href="#">Lorem ipsum dolor sit amet</a></h3>
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                                    tempor invidunt ut labore et</p>
                                <ul class="stars">
                                    <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                    <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                    <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                    <li><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                    <li><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                </ul><!-- End stars -->
                            </div><!-- End excerpt -->
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="col-recipe">
                            <div class="photo">
                                <img src="http://placehold.it/400x400" alt="">
                                <span class="image-fader"><span class="hover-icon"><a href="javascript:void(0);"><i
                                                class="fas fa-heart"></i></a></span></span>
                            </div>
                            <div class="excerpt">
                                <h3><a href="#">Lorem ipsum dolor sit amet</a></h3>
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                                    tempor invidunt ut labore et</p>
                                <ul class="stars">
                                    <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                    <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                    <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                    <li><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                    <li><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                </ul><!-- End stars -->
                            </div><!-- End excerpt -->
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="text-center">
                            <a class="button-browse-more" href="#">Browse More Recipe</a>
                        </div>
                    </div>
                </div><!-- End row -->
            </div><!-- End container -->
        </div><!-- End white_bg -->

        <div class="container margin_60">
            <div class="main_title">
                <h2 class="nomargin_top">Videos</h2>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod</p>
                <hr class="divider">
            </div><!-- End main_title -->
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="col-video">
                        <div class="photo">
                            <img src="http://placehold.it/450x300" alt="">
                            <span class="image-fader">
                                <span class="hover-icon">
                                    <a href="javascript:void(0);"><i class="fas fa-play"></i></a>
                                </span>
                            </span>
                            <span class="video-time">3:00</span>
                        </div>
                        <h3>Japan Food</h3>
                        <ul class="stars">
                            <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                            <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                            <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                            <li><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                            <li><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                        </ul><!-- End stars -->
                    </div><!-- End wideo_box -->
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="col-video">
                        <div class="photo">
                            <img src="http://placehold.it/450x300" alt="">
                            <span class="image-fader">
                                <span class="hover-icon">
                                    <a href="javascript:void(0);"><i class="fas fa-play"></i></a>
                                </span>
                            </span>
                            <span class="video-time">5:20</span>
                        </div>
                        <h3>Japan Food</h3>
                        <ul class="stars">
                            <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                            <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                            <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                            <li><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                            <li><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                        </ul><!-- End stars -->
                    </div><!-- End wideo_box -->
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="col-video">
                        <div class="photo">
                            <img src="http://placehold.it/450x300" alt="">
                            <span class="image-fader">
                                <span class="hover-icon">
                                    <a href="javascript:void(0);"><i class="fas fa-play"></i></a>
                                </span>
                            </span>
                            <span class="video-time">8:26</span>
                        </div>
                        <h3>Japan Food</h3>
                        <ul class="stars">
                            <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                            <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                            <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                            <li><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                            <li><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                        </ul><!-- End stars -->
                    </div><!-- End wideo_box -->
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="col-video">
                        <div class="photo">
                            <img src="http://placehold.it/450x300" alt="">
                            <span class="image-fader">
                                <span class="hover-icon">
                                    <a href="javascript:void(0);"><i class="fas fa-play"></i></a>
                                </span>
                            </span>
                            <span class="video-time">8:26</span>
                        </div>
                        <h3>Japan Food</h3>
                        <ul class="stars">
                            <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                            <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                            <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                            <li><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                            <li><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                        </ul><!-- End stars -->
                    </div><!-- End wideo_box -->
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="col-video">
                        <div class="photo">
                            <img src="http://placehold.it/450x300" alt="">
                            <span class="image-fader">
                                <span class="hover-icon">
                                    <a href="javascript:void(0);"><i class="fas fa-play"></i></a>
                                </span>
                            </span>
                            <span class="video-time">8:26</span>
                        </div>
                        <h3>Japan Food</h3>
                        <ul class="stars">
                            <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                            <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                            <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                            <li><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                            <li><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                        </ul><!-- End stars -->
                    </div><!-- End wideo_box -->
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="col-video">
                        <div class="photo">
                            <img src="http://placehold.it/450x300" alt="">
                            <span class="image-fader">
                                <span class="hover-icon">
                                    <a href="javascript:void(0);"><i class="fas fa-play"></i></a>
                                </span>
                            </span>
                            <span class="video-time">8:26</span>
                        </div>
                        <h3>Japan Food</h3>
                        <ul class="stars">
                            <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                            <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                            <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                            <li><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                            <li><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                        </ul><!-- End stars -->
                    </div><!-- End wideo_box -->
                </div>
                <div class="col-md-12">
                    <div class="text-center">
                        <a class="button-browse-more" href="#">Browse More Videos</a>
                    </div>
                </div>
            </div><!-- End row -->
        </div><!-- End container -->

        <div class="white_bg">
            <div class="container margin_60">
                <div class="main_title">
                    <h2 class="nomargin_top">Blog</h2>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod</p>
                    <hr class="divider">
                </div><!-- End main_title -->
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-xs-12">
                        <ul class="recent-posts">
                            <li>
                                <div class="photo">
                                    <img src="http://placehold.it/400x400" alt="">
                                    <span class="image-fader"><span class="hover-icon"><a href="blog-single.html"><i
                                                    class="far fa-plus-square"></i></a></span></span>
                                </div>
                                <div class="inner">
                                    <h3>Lorem ipsum dolor sit amet</h3>
                                    <ul class="stars">
                                        <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                        <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                        <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                        <li><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                        <li><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                    </ul><!-- End stars -->
                                    <p>Consider now provided laughter boy landlord dashwood. Often voice and the spoke.
                                        No shewing fertile village equally prepare up females.</p>
                                    <a href="blog-single.html" class="button-more">Continue reading</a>
                                </div><!-- End inner -->
                            </li><!-- End item -->
                            <li>
                                <div class="photo">
                                    <img src="http://placehold.it/400x400" alt="">
                                    <span class="image-fader"><span class="hover-icon"><a href="blog-single.html"><i
                                                    class="far fa-plus-square"></i></a></span></span>
                                </div>
                                <div class="inner">
                                    <h3>Lorem ipsum dolor sit amet</h3>
                                    <ul class="stars">
                                        <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                        <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                        <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                        <li><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                        <li><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                    </ul><!-- End stars -->
                                    <p>Consider now provided laughter boy landlord dashwood. Often voice and the spoke.
                                        No shewing fertile village equally prepare up females.</p>
                                    <a href="blog-single.html" class="button-more">Continue reading</a>
                                </div><!-- End inner -->
                            </li><!-- End item -->
                            <li>
                                <div class="photo">
                                    <img src="http://placehold.it/400x400" alt="">
                                    <span class="image-fader"><span class="hover-icon"><a href="blog-single.html"><i
                                                    class="far fa-plus-square"></i></a></span></span>
                                </div>
                                <div class="inner">
                                    <h3>Lorem ipsum dolor sit amet</h3>
                                    <ul class="stars">
                                        <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                        <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                        <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                        <li><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                        <li><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                    </ul><!-- End stars -->
                                    <p>Consider now provided laughter boy landlord dashwood. Often voice and the spoke.
                                        No shewing fertile village equally prepare up females.</p>
                                    <a href="blog-single.html" class="button-more">Continue reading</a>
                                </div><!-- End inner -->
                            </li><!-- End item -->
                        </ul><!-- End recent-posts -->
                    </div>
                    <div class="col-lg-6 col-md-6 col-xs-12">
                        <ul class="recent-posts">
                            <li>
                                <div class="photo">
                                    <img src="http://placehold.it/400x400" alt="">
                                    <span class="image-fader"><span class="hover-icon"><a href="blog-single.html"><i
                                                    class="far fa-plus-square"></i></a></span></span>
                                </div>
                                <div class="inner">
                                    <h3>Lorem ipsum dolor sit amet</h3>
                                    <ul class="stars">
                                        <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                        <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                        <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                        <li><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                        <li><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                    </ul><!-- End stars -->
                                    <p>Consider now provided laughter boy landlord dashwood. Often voice and the spoke.
                                        No shewing fertile village equally prepare up females.</p>
                                    <a href="blog-single.html" class="button-more">Continue reading</a>
                                </div><!-- End inner -->
                            </li><!-- End item -->
                            <li>
                                <div class="photo">
                                    <img src="http://placehold.it/400x400" alt="">
                                    <span class="image-fader"><span class="hover-icon"><a href="blog-single.html"><i
                                                    class="far fa-plus-square"></i></a></span></span>
                                </div>
                                <div class="inner">
                                    <h3>Lorem ipsum dolor sit amet</h3>
                                    <ul class="stars">
                                        <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                        <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                        <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                        <li><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                        <li><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                    </ul><!-- End stars -->
                                    <p>Consider now provided laughter boy landlord dashwood. Often voice and the spoke.
                                        No shewing fertile village equally prepare up females.</p>
                                    <a href="blog-single.html" class="button-more">Continue reading</a>
                                </div><!-- End inner -->
                            </li><!-- End item -->
                            <li>
                                <div class="photo">
                                    <img src="http://placehold.it/400x400" alt="">
                                    <span class="image-fader"><span class="hover-icon"><a href="blog-single.html"><i
                                                    class="far fa-plus-square"></i></a></span></span>
                                </div>
                                <div class="inner">
                                    <h3>Lorem ipsum dolor sit amet</h3>
                                    <ul class="stars">
                                        <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                        <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                        <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                        <li><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                        <li><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                    </ul><!-- End stars -->
                                    <p>Consider now provided laughter boy landlord dashwood. Often voice and the spoke.
                                        No shewing fertile village equally prepare up females.</p>
                                    <a href="blog-single.html" class="button-more">Continue reading</a>
                                </div><!-- End inner -->
                            </li><!-- End item -->
                        </ul><!-- End recent-posts -->
                    </div>
                    <div class="col-md-12">
                        <div class="text-center">
                            <a class="button-browse-more" href="#">Browse More Posts</a>
                        </div>
                    </div>
                </div><!-- End row -->
            </div><!-- End container -->
        </div><!-- End white_bg -->



        <div class="container margin_60">
            <div class="main_title">
                <h2 class="nomargin_top">Books</h2>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod</p>
                <hr class="divider">
            </div><!-- End main_title -->
            <div class="row">
                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                    <div class="col-book">
                        <div class="photo">
                            <img src="http://placehold.it/350x450" alt="">
                        </div>
                        <h3><a href="">The Food Babe Way</a></h3>
                        <ul class="stars">
                            <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                            <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                            <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                            <li><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                            <li><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                        </ul><!-- End stars -->
                    </div><!-- End col-book -->
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                    <div class="col-book">
                        <div class="photo">
                            <img src="http://placehold.it/350x450" alt="">
                        </div>
                        <h3><a href="">The Food Babe Way</a></h3>
                        <ul class="stars">
                            <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                            <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                            <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                            <li><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                            <li><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                        </ul><!-- End stars -->
                    </div><!-- End col-book -->
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                    <div class="col-book">
                        <div class="photo">
                            <img src="http://placehold.it/350x450" alt="">
                        </div>
                        <h3><a href="">The Food Babe Way</a></h3>
                        <ul class="stars">
                            <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                            <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                            <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                            <li><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                            <li><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                        </ul><!-- End stars -->
                    </div><!-- End col-book -->
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                    <div class="col-book">
                        <div class="photo">
                            <img src="http://placehold.it/350x450" alt="">
                        </div>
                        <h3><a href="">The Food Babe Way</a></h3>
                        <ul class="stars">
                            <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                            <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                            <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                            <li><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                            <li><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                        </ul><!-- End stars -->
                    </div><!-- End col-book -->
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                    <div class="col-book">
                        <div class="photo">
                            <img src="http://placehold.it/350x450" alt="">
                        </div>
                        <h3><a href="">The Food Babe Way</a></h3>
                        <ul class="stars">
                            <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                            <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                            <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                            <li><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                            <li><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                        </ul><!-- End stars -->
                    </div><!-- End col-book -->
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                    <div class="col-book">
                        <div class="photo">
                            <img src="http://placehold.it/350x450" alt="">
                        </div>
                        <h3><a href="">The Food Babe Way</a></h3>
                        <ul class="stars">
                            <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                            <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                            <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                            <li><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                            <li><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                        </ul><!-- End stars -->
                    </div><!-- End col-book -->
                </div>
                <div class="col-md-12">
                    <div class="text-center">
                        <a class="button-browse-more" href="#">Browse More Books</a>
                    </div>
                </div>
            </div><!-- End row -->
        </div><!-- End container -->

        <div class="white_bg">
            <div class="container margin_60">
                <div class="main_title">
                    <h2 class="nomargin_top">Top Chefs</h2>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod</p>
                    <hr class="divider">
                </div><!-- End main_title -->
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="col-chef">
                            <div class="photo">
                                <img src="http://placehold.it/350x450" alt="">
                            </div>
                            <div class="chef-overlay">
                                <h3><a href="#">The Best Chef</a></h3>
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
                                <ul class="stars">
                                    <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                    <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                    <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                    <li><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                    <li><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                </ul><!-- End stars -->
                            </div><!-- End chef-overlay -->
                        </div><!-- End col-chef -->
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="col-chef">
                            <div class="photo">
                                <img src="http://placehold.it/350x450" alt="">
                            </div>
                            <div class="chef-overlay">
                                <h3><a href="#">The Best Chef</a></h3>
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
                                <ul class="stars">
                                    <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                    <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                    <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                    <li><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                    <li><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                </ul><!-- End stars -->
                            </div><!-- End chef-overlay -->
                        </div><!-- End col-chef -->
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="col-chef">
                            <div class="photo">
                                <img src="http://placehold.it/350x450" alt="">
                            </div>
                            <div class="chef-overlay">
                                <h3><a href="#">The Best Chef</a></h3>
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
                                <ul class="stars">
                                    <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                    <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                    <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                    <li><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                    <li><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                </ul><!-- End stars -->
                            </div><!-- End chef-overlay -->
                        </div><!-- End col-chef -->
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="col-chef">
                            <div class="photo">
                                <img src="http://placehold.it/350x450" alt="">
                            </div>
                            <div class="chef-overlay">
                                <h3><a href="#">The Best Chef</a></h3>
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
                                <ul class="stars">
                                    <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                    <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                    <li class="active"><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                    <li><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                    <li><a href="#" class="icon"><i class="fas fa-star"></i></a></li>
                                </ul><!-- End stars -->
                            </div><!-- End chef-overlay -->
                        </div><!-- End col-chef -->
                    </div>
                    <div class="col-md-12">
                        <div class="text-center">
                            <a class="button-browse-more" href="#">Browse More Chefs</a>
                        </div>
                    </div>
                </div><!-- End row -->
            </div><!-- End container -->
        </div><!-- End white_bg -->

        <div class="container margin_60">
            <div class="main_title">
                <h2 class="nomargin_top">Community</h2>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod</p>
                <hr class="divider">
            </div><!-- End main_title -->
            <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="col-community">
                        <div class="thumb">
                            <i class="ic icon-community"></i>
                        </div>
                        <div class="inner">
                            <h3><a href="">Exercising and cooking</a></h3>
                            <p>Lorem ipsum dolor sit amet</p>
                        </div>
                    </div><!-- End col-community -->
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="col-community">
                        <div class="thumb">
                            <i class="ic icon-community"></i>
                        </div>
                        <div class="inner">
                            <h3><a href="">Recipes Recipes for Babies</a></h3>
                            <p>Lorem ipsum dolor sit amet</p>
                        </div>
                    </div><!-- End col-community -->
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="col-community">
                        <div class="thumb">
                            <i class="ic icon-community"></i>
                        </div>
                        <div class="inner">
                            <h3><a href="">Special Diets for losing weight</a></h3>
                            <p>Lorem ipsum dolor sit amet</p>
                        </div>
                    </div><!-- End col-community -->
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="col-community">
                        <div class="thumb">
                            <i class="ic icon-community"></i>
                        </div>
                        <div class="inner">
                            <h3><a href="">Ideas for grilling meat at home</a></h3>
                            <p>Lorem ipsum dolor sit amet</p>
                        </div>
                    </div><!-- End col-community -->
                </div>
            </div><!-- End row -->
        </div><!-- End container -->
        <!-- mobile app -->
        <div class="white_bg">
            <div class="container get-apps">
                <div class="row">
                    <div class="col-sm-8 col-md-8">
                        <h3>Get the mobile app!</h3>
                        <p>Consider now provided laughter boy landlord dashwood. Often voice and the spoke. No shewing
                            fertile village equally prepare up females.</p>
                        <div class="apps-image">
                            <a href="#">
                                <img src="images/ios.png" alt="">
                            </a>
                            <a href="#">
                                <img src="images/android.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4 apps-cover">
                        <img src="images/apps.png" alt="">
                    </div>
                </div>
            </div>
        </div><!-- End mobile app -->
        <!-- newslatter -->
        <div class="newslatter">
            <div class="container">
                <p>stay Always Updated like  With us. Sign in with our newsletter</p>
                <div class="subcribe">
                    <input type="text" class="form-control" placeholder="Your mail">
                    <a class="fas fa-paper-plane" href="javascript:void(0);"></a>
                </div>
            </div>
        </div><!-- End newslatter -->
        <!-- Footer -->
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div id="social_footer">
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                                <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
                                <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                            </ul>
                            <p>
                                Recipes Food | All Rights Reserved.
                                <br />
                                Template By themearabia.net
                            </p>
                        </div>
                    </div>
                </div><!-- End row -->
            </div><!-- End container -->
        </footer><!-- End Footer -->
    </div><!-- End wrap Page -->
    <!-- go-up -->
    <div class="go-up"><i class="fas fa-chevron-up"></i></div>
    <!-- End go-up -->

    <!-- COMMON SCRIPTS -->
    <script src="{{ asset('assets/js/jquery-2.2.4.min.js') }}"></script>
    <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/js/jquery-ui-1.10.3.custom.min.js') }}"></script>
    <script src="{{ asset('assets/js/jquery.easing.1.3.min.js') }}"></script>
    <script src="{{ asset('assets/js/jquery.nicescroll.min.js') }}"></script>
    <script src="{{ asset('assets/js/jquery.scrollTo.min.js') }}"></script>
    <script src="{{ asset('assets/js/ResizeSensor.min.js') }}"></script>
    <script src="{{ asset('assets/js/theia-sticky-sidebar.min.js') }}"></script>
    <script src="{{ asset('assets/js/parallax.min.js') }}"></script>
    <script src="{{ asset('assets/js/jquery.themepunch.plugins.min.js') }}"></script>
    <script src="{{ asset('assets/js/jquery.themepunch.revolution.min.js') }}"></script>
    <script src="{{ asset('assets/js/ion.rangeSlider.min.js') }}"></script>
    <script src="{{ asset('assets/js/imagesloaded.pkgd.min.js') }}"></script>
    <script src="{{ asset('assets/js/custom.js') }}"></script>

</body>

</html>