{% extends 'base.html.twig' %}
{% block title %}User Register
{% endblock %}

{% block content %}
	<!-- SubHeader -->
	<section class="parallax-window" id="short" data-parallax="scroll" data-image-src="http://placehold.it/1400x300" data-natural-width="1400" data-natural-height="300">
		<div id="sub_header">
			<div class="container" id="sub_content">
				<div class="row">
					<div class="col-md-12">
						<h1>User Register</h1>
						<div class="bread-crums">
							<a href="#">Home</a>
							<span class="bread-crums-span">&raquo;</span>
							<span class="current">User Register</span>
						</div>
						<!-- End bread-crums -->
					</div>
				</div>
				<!-- End row -->
			</div>
			<!-- End container -->
		</div>
	</section>
	<!-- End SubHeader -->
	<div class="white_bg">
		<div class="container margin_60">
			<div class="main_title">
				<h2 class="nomargin_top">User Register</h2>
				<hr class="divider">
			</div>

			<div class="row">
				<div
					class="col-md-6"><!-- Contenu pour la promotion de l'application ou autre contenu pertinent ici -->
				</div>
				<div class="col-md-6">
					<div class="form-login">
						{{ form_errors(registrationForm) }}
						{{ form_start(registrationForm, {'attr': {'class': 'form-horizontal'}}) }}
						<div class="form-group">
							{{ form_widget(registrationForm.firstname, {'attr': {'class': 'form-control', 'placeholder': 'First Name'}}) }}
						</div>
						<div class="form-group">
							{{ form_widget(registrationForm.lastname, {'attr': {'class': 'form-control', 'placeholder': 'Last Name'}}) }}
						</div>
						<div class="form-group">
							{{ form_widget(registrationForm.email, {'attr': {'class': 'form-control', 'placeholder': 'Email Address'}}) }}
						</div>
						<div class="form-group">
							{{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control', 'placeholder': 'Password'}}) }}
						</div>
					</div>
					<div class="form-group">
						<div class="checkbox">
							{{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'form-check-input'}}) }}
							{{ form_label(registrationForm.agreeTerms, 'I accept the terms and conditions', {'label_attr': {'class': 'form-check-label'}}) }}
						</div>
					</div>
					<div class="form-login">
						<div class="row">
							<div class="col-md-6 col-xs-6 text-left">
								<button type="submit" class="btn btn-primary">Create Account</button>
							</div>
						</div>
					</div>
					{{ form_end(registrationForm) }}
				</div>
			</div>
		</div>
	</div>
	<!-- End container -->
</div>
<!-- End white_bg -->{% endblock %}
