{% extends 'base.html.twig' %}

{% block title %}Single-recipe
{% endblock %}


{% block content %}


	<!-- SubHeader -->
	<section class="parallax-window" id="short" data-parallax="scroll" data-image-src="{{ asset('assets/images/header.png') }}" data-natural-width="1400" data-natural-height="300">
		<div id="sub_header">
			<div class="container" id="sub_content">
				<div class="row">
					<div class="col-md-12">
						<h1>Single Recipe</h1>
						<!-- End bread-crums -->
					</div>
				</div>
				<!-- End row -->
			</div>
			<!-- End container -->
		</div>
	</section>
	<!-- End SubHeader -->
	<div class="white_bg">
		<div class="container margin_60">
			<div class="row">
				<div class="col-md-8">
					<div class="post-inner">
						<div class="info-icons">
							<div class="semipart">
								<i class="ic icon-x-forks"></i>
								Prep Time
								{{ recipe.prepTime }}
								minutes
							</div>
							<div class="semipart">
								<i class="ic icon-timer"></i>
								Cook Time
								{{ recipe.cookTime }}
								minutes
							</div>
							<div class="semipart">
								<i class="ic icon-community2"></i>
								Serving For
								{{ recipe.numberServing }}
								People
							</div>
						</div>

						<div class="post-img">
							<img src="{{ asset('assets/images/' ~ recipe.pictureRecipe) }}" alt="{{ recipe.titleRecipe }}">
						</div>

						<h3 class="post-title">{{ recipe.titleRecipe }}</h3>
						<div class="post-meta">
							<span class="meta-author">
								<i class="far fa-user"></i>
								<a href="#">{{ recipe.creatorRecipe.firstname }}
									{{ recipe.creatorRecipe.lastname }}</a>
							</span>
						</div>

						<div class="post-content">
							<h4>Description</h4>
							<p>{{ recipe.descriptionRecipe }}</p>

							<h4>Procedure</h4>
							<p>{{ recipe.procedure }}</p>

							<h4>Ingredient</h4>
							<div class="ul_list">
								<ul>
									{% for ingredient in recipe.ingredient %}
										<li>{{ ingredient.nameIngredient }}</li>
									{% endfor %}
								</ul>
							</div>
							<!-- End Ingredient -->
						</div>
					</div>
					<div
						class="stars-tags"><!-- this div to make line -->
					</div>
					<!-- start comment -->
					<div id="commentlist" class="page-content">
						<h3>Comments
						</h3>
						<ol class="commentlist clearfix">
							<li class="comment">
								<div class="comment-body clearfix">
									<div class="avatar"><img alt="" src="http://placehold.it/100x100"></div>
									<div class="comment-text">
										<div class="author clearfix">
											<div class="comment-meta">
												<span>admin</span>
												<div class="date">January 15 , 2015 at 10:00 pm</div>
											</div>
										</div>
										<div class="text">
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi adipiscing gravida odio, sit amet suscipit risus ultrices eu. Fusce viverra neque at purus laoreet consequat. Vivamus vulputate posuere nisl quis consequat.</p>
										</div>
									</div>
								</div>
							</li>
							<li class="comment">
								<div class="comment-body clearfix">
									<div class="avatar"><img alt="" src="http://placehold.it/100x100"></div>
									<div class="comment-text">
										<div class="author clearfix">
											<div class="comment-meta">
												<span>admin</span>
												<div class="date">January 15 , 2015 at 10:00 pm</div>
											</div>
										</div>
										<div class="text">
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi adipiscing gravida odio, sit amet suscipit risus ultrices eu. Fusce viverra neque at purus laoreet consequat. Vivamus vulputate posuere nisl quis consequat.</p>
										</div>
									</div>
								</div>
							</li>
						</ol>
						<!-- End commentlist -->
					</div>
					<!-- end comment -->

					<!-- start form comment -->
					<div class="comment-form">
						<h3>Leave a reply</h3>
						<form action="#" method="post">
							<div class="form-group">
								<input type="text" id="name" class="form-control" placeholder="Firstname Lastname">
							</div>
							<div class="form-group">
								<textarea id="comment" name="comment" rows="8"></textarea>
							</div>
							<button type="submit" class="btn  btn-primary">Post Comment</button>
						</form>
					</div>
					<!-- end form comment -->


				</div>
				<aside class="col-md-4 sidebar sticky-sidebar">
					<div class="theiaStickySidebar">
						<div class="widget widget-list">
							<div class="widget-title">
								<i class="far fa-folder-open"></i>
								Category
							</div>
							<ul>
								<li class="cat-item">
									<a href="#">{{ recipe.category.NameCategory }}</a>
								</li>
							</ul>
						</div>
						<!-- End widget -->
					</div>
				</aside>
			</div>
			<!-- End row -->
		</div>
		<!-- End container -->
	</div>
	<!-- End white_bg -->


{% endblock %}
