{% extends 'base.html.twig' %}


{% block title %}Historic
{% endblock %}

{% block content %}
	<!-- SubHeader -->
	<section class="parallax-window" id="short" data-parallax="scroll" data-image-src="{{ asset('assets/images/header.png') }}" data-natural-width="1400" data-natural-height="300">
		<div id="sub_header">
			<div class="container" id="sub_content">
				<div class="row">
					<div class="col-md-12">
						<h1>Single Topic Community</h1>
						<div class="bread-crums">
							<a href="#">Home</a>
							<span class="bread-crums-span">&raquo;</span>
							<a href="#">Community</a>
							<span class="bread-crums-span">&raquo;</span>
							<span class="current">Single Topic Community</span>
						</div>
						<!-- End bread-crums -->
					</div>
				</div>
				<!-- End row -->
			</div>
			<!-- End container -->
		</div>
	</section>
	<!-- End SubHeader -->


	<div class="white_bg">
		<div class="container margin_60">
			<div class="row">
				<div class="col-md-12">
					<h3>
						title of the Topic :
						{{ topic.titleTopic }}</h3>
					<ul class="topics">
						{% for post in posts %}
							<li>
								<div class="row">
									<div class="col-md-2">
										<div class="topic-author">
											<a href="#" class="author-avatar">
												{% if post.poster.pictureUser %}
													<img src="{{ asset('assets/images/users/' ~ post.poster.pictureUser) }}" alt="User Image" style="width: 100px; height: 100px; object-fit: cover;">
												{% else %}
													<img src="{{ asset('assets/images/users/inconnu.png') }}" alt="Default User Image" style="width: 100px; height: 100px; object-fit: cover;">
												{% endif %}
											</a>
											<a href="#" title="" class="author-name">
												{{ post.poster.firstname }}
												{{ post.poster.lastname }}
											</a>
										</div>
										<!-- End topic-author -->
									</div>
									<div class="col-md-10">
										<div class="topic-content">
											<p>{{ post.contentPost|raw }}</p>
										</div>
										<!-- End topic-content -->
									</div>
								</div>
							</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>

		<!-- End container -->
	</div>
	<!-- End white_bg -->
{% endblock %}
