{% extends 'base.html.twig' %}

{% block title %}booking - cars
{% endblock %}

{% block content %}
	<!-- Detail Start -->
	<div class="container-fluid pt-5">
		<div class="container pt-5 pb-3">
			<h1 class="display-4 text-uppercase mb-5">Mercedes Benz R3</h1>
			<!-- la fais moi nom de Car selectionné -->
			<div class="row align-items-center pb-2">
				<div class="col-lg-6 mb-4">
					{% set mainPicture = null %}
					{% for picture in car.Picture %}
						{% if picture.principal %}
							{% set mainPicture = picture %}
						{% endif %}
					{% endfor %}
					{% if mainPicture %}
						<img class="img-fluid mb-4" src="{{ asset('assets/img/' ~ mainPicture.image) }}" alt="{{ car.name }}">
					{% endif %}
				</div>
				<div class="col-lg-6 mb-4">
					<h4 class="mb-2">$99.00/Day</h4>
					<!-- la fais moi price of car  -->
					<div class="d-flex mb-3">
						<h6 class="mr-2">Rating:</h6>
						<!-- la je veux que le nombre des etoiles soit egal au rating donnée au car selectionnée -->
						<div class="d-flex align-items-center justify-content-center mb-1">
							<small class="fa fa-star text-primary mr-1"></small>
							<small class="fa fa-star text-primary mr-1"></small>
							<small class="fa fa-star text-primary mr-1"></small>
							<small class="fa fa-star text-primary mr-1"></small>
						</div>
					</div>
					<!-- la fais moi la description -->
					<p>Tempor erat elitr at rebum at at clita aliquyam consetetur. Diam dolor diam ipsum et, tempor voluptua sit consetetur sit. Aliquyam diam amet diam et eos sadipscing labore. Clita erat ipsum et lorem et sit, sed stet no labore lorem sit. Sanctus clita duo justo et tempor consetetur takimata eirmod, dolores takimata consetetur invidunt</p>
					<div class="d-flex pt-1">
						<h6>Share on:</h6>
						<div class="d-inline-flex">
							<a class="px-2" href="">
								<i class="fab fa-facebook-f"></i>
							</a>
							<a class="px-2" href="">
								<i class="fab fa-twitter"></i>
							</a>
							<a class="px-2" href="">
								<i class="fab fa-linkedin-in"></i>
							</a>
							<a class="px-2" href="">
								<i class="fab fa-pinterest"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div
				class="row pt-2">
				<!-- Afficher les informations techniques de la voiture -->
				<div class="col-md-3 col-6 mb-2">
					<i class="fa fa-calendar-alt text-primary mr-2"></i>
					<span>Model:
						{{ car.model }}</span>
				</div>
				<div class="col-md-3 col-6 mb-2">
					<i class="fa fa-palette text-primary mr-2"></i>
					<span>Color:
						{{ car.color }}</span>
				</div>
				<div class="col-md-3 col-6 mb-2">
					<i class="fa fa-gas-pump text-primary mr-2"></i>
					<span>{{ car.consumption }}km/liter</span>
				</div>
				<div class="col-md-3 col-6 mb-2">
					<i class="fa fa-cogs text-primary mr-1"></i>
					<span>Transmission:
						{{ car.transmission == 'manual' ? 'Manual' : 'Automatic' }}</span>
				</div>
				<div class="col-md-3 col-6 mb-2">
					<i class="fa fa-tachometer-alt text-primary mr-2"></i>
					<span>Top Speed:
						{{ car.speed }}
						km/h</span>
				</div>
				<div class="col-md-3 col-6 mb-2">
					<i class="fa fa-map-marker-alt text-primary mr-2"></i>
					<span>Maps:
						{{ car.maps ? 'Yes' : 'No' }}</span>
				</div>
				<div class="col-md-3 col-6 mb-2">
					<i class="fa fa-car text-primary mr-2"></i>
					<span>Category:
						{{ car.category }}</span>
				</div>
				<div class="col-md-3 col-6 mb-2">
					<i class="fa fa-gas-pump text-primary mr-2"></i>
					<span>Fuel:
						{{ car.fuel }}</span>
				</div>
			</div>
		</div>
	</div>
	<!-- Detail End -->


	<!-- Car Booking Start -->
	<div class="container-fluid pb-5">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					{{ form_start(form) }}
					<h2 class="mb-4">Personal Detail</h2>
					<div class="mb-5">
						<div class="row">
							<div class="col-6 form-group">
								{{ form_row(form.firstname) }}
							</div>
							<div class="col-6 form-group">
								{{ form_row(form.lastname) }}
							</div>
							<div class="col-6 form-group">
								{{ form_row(form.phone) }}
							</div>
							<div class="col-6 form-group">
								{{ form_row(form.email) }}
							</div>
						</div>
					</div>

					<h2 class="mb-4">Booking Detail</h2>
					<div class="mb-5">
						<div class="row">
							<div class="col-6 form-group">
								{{ form_row(form.date_birth) }}
							</div>
							<div class="col-6 form-group">
								{{ form_row(form.start_date) }}
							</div>
							<div class="col-6 form-group">
								{{ form_row(form.return_date) }}
							</div>
							<div class="col-6 form-group">
								{{ form_row(form.start_time) }}
							</div>
							<div class="col-6 form-group">
								{{ form_row(form.return_time) }}
							</div>
						</div>
					</div>
					<div class="form-group">
						{{ form_row(form.Car) }}
					</div>

					<div class="form-group">
						{{ form_row(form.Insurance) }}
					</div>

					<!-- Bouton de soumission -->
					<div class="form-group">
						<button type="submit" class="btn btn-primary">Reserve Now</button>
					</div>

					{{ form_end(form) }}
				</div>
			</div>
		</div>
	</div>
	<!-- Car Booking End -->


{% endblock %}
