{% extends 'base.html.twig' %}

{% block title %}informations - cars
{% endblock %}

{% block content %}

	<!-- Informations Start -->
	<div class="container-fluid pt-5 center-content">
		<div class="container pt-5">
			<div class="row">
				<div class="text-center">
					<h1 class="display-4 text-uppercase mb-5">{{ car.name }}</h1>
				</div>
				<div
					class="row mx-n2 mb-3">
					<!-- Afficher les images de la voiture -->
					{% for picture in car.Picture %}
						{% if not picture.principal %}
							<div class="col-md-3 col-6 px-2 pb-2">
								<img class="img-fluid w-100" src="{{ asset('assets/img/' ~ picture.image) }}" alt="{{ car.name }}">
							</div>
						{% endif %}
					{% endfor %}
				</div>
				<h2 class="mb-4 text-center text-uppercase">Description</h2>
				<p>{{ car.description }}</p>
				<h2 class="mb-4 text-center text-uppercase">Technical Information</h2>
				<div
					class="row pt-2">
					<!-- Afficher les informations techniques de la voiture -->
					<div class="col-md-3 col-6 mb-2">
						<i class="fa fa-calendar-alt text-primary mr-2"></i>
						<span>Model:
							{{ car.model }}</span>
					</div>
					<div class="col-md-3 col-6 mb-2">
						<i class="fa fa-palette text-primary mr-2"></i>
						<span>Color:
							{{ car.color }}</span>
					</div>
					<div class="col-md-3 col-6 mb-2">
						<i class="fa fa-gas-pump text-primary mr-2"></i>
						<span>{{ car.consumption }}km/liter</span>
					</div>
					<div class="col-md-3 col-6 mb-2">
						<i class="fa fa-cogs text-primary mr-1"></i>
						<span>Transmission:
							{{ car.transmission == 'manual' ? 'Manual' : 'Automatic' }}</span>
					</div>
					<div class="col-md-3 col-6 mb-2">
						<i class="fa fa-tachometer-alt text-primary mr-2"></i>
						<span>Top Speed:
							{{ car.speed }}
							km/h</span>
					</div>
					<div class="col-md-3 col-6 mb-2">
						<i class="fa fa-map-marker-alt text-primary mr-2"></i>
						<span>Maps:
							{{ car.maps ? 'Yes' : 'No' }}</span>
					</div>
					<div class="col-md-3 col-6 mb-2">
						<i class="fa fa-car text-primary mr-2"></i>
						<span>Category:
							{{ car.category }}</span>
					</div>
					<div class="col-md-3 col-6 mb-2">
						<i class="fa fa-gas-pump text-primary mr-2"></i>
						<span>Fuel:
							{{ car.fuel }}</span>
					</div>
				</div>

			</div>
			<div class="form-group mb-0 d-flex justify-content-center">
				<a href="{{ path('car_booking', {'id': car.id}) }}" class="btn btn-primary" style="height: 50px; display: inline-block; width: auto;">Book the car</a>
			</div>
		</div>
	</div>
	<!-- Informations End -->

	<!-- Related Car Start -->
	<div class="container-fluid pb-5">
		<div class="container pb-5">
			<h2 class="mb-4">Related Cars</h2>
			<div class="owl-carousel related-carousel position-relative" style="padding: 0 30px;">
				<div class="rent-item">
					<img class="img-fluid mb-4" src="assets/img/car-rent-1.png" alt="">
					<h4 class="text-uppercase mb-4">Mercedes Benz R3</h4>
					<div class="d-flex justify-content-center mb-4">
						<div class="px-2">
							<i class="fa fa-car text-primary mr-1"></i>
							<span>2015</span>
						</div>
						<div class="px-2 border-left border-right">
							<i class="fa fa-cogs text-primary mr-1"></i>
							<span>AUTO</span>
						</div>
						<div class="px-2">
							<i class="fa fa-road text-primary mr-1"></i>
							<span>25K</span>
						</div>
					</div>
					<a class="btn btn-primary px-3" href="">$99.00/Day</a>
				</div>
				<div class="rent-item">
					<img class="img-fluid mb-4" src="assets/img/car-rent-2.png" alt="">
					<h4 class="text-uppercase mb-4">Mercedes Benz R3</h4>
					<div class="d-flex justify-content-center mb-4">
						<div class="px-2">
							<i class="fa fa-car text-primary mr-1"></i>
							<span>2015</span>
						</div>
						<div class="px-2 border-left border-right">
							<i class="fa fa-cogs text-primary mr-1"></i>
							<span>AUTO</span>
						</div>
						<div class="px-2">
							<i class="fa fa-road text-primary mr-1"></i>
							<span>25K</span>
						</div>
					</div>
					<a class="btn btn-primary px-3" href="">$99.00/Day</a>
				</div>
				<div class="rent-item">
					<img class="img-fluid mb-4" src="assets/img/car-rent-3.png" alt="">
					<h4 class="text-uppercase mb-4">Mercedes Benz R3</h4>
					<div class="d-flex justify-content-center mb-4">
						<div class="px-2">
							<i class="fa fa-car text-primary mr-1"></i>
							<span>2015</span>
						</div>
						<div class="px-2 border-left border-right">
							<i class="fa fa-cogs text-primary mr-1"></i>
							<span>AUTO</span>
						</div>
						<div class="px-2">
							<i class="fa fa-road text-primary mr-1"></i>
							<span>25K</span>
						</div>
					</div>
					<a class="btn btn-primary px-3" href="">$99.00/Day</a>
				</div>
				<div class="rent-item">
					<img class="img-fluid mb-4" src="{{ asset('assets/img/car-rent-5.png') }}" alt="">
					<h4 class="text-uppercase mb-4">Mercedes Benz R3</h4>
					<div class="d-flex justify-content-center mb-4">
						<div class="px-2">
							<i class="fa fa-car text-primary mr-1"></i>
							<span>2015</span>
						</div>
						<div class="px-2 border-left border-right">
							<i class="fa fa-cogs text-primary mr-1"></i>
							<span>AUTO</span>
						</div>
						<div class="px-2">
							<i class="fa fa-calendar-alt text-primary mr-2"></i>
							<span>2020</span>
						</div>
					</div>
					<a class="btn btn-primary px-3" href="">$99.00/Day</a>
				</div>
			</div>
		</div>
	</div>
	<!-- Related Car End -->
{% endblock %}
