{% extends 'base.html.twig' %}

{% block title %}recipe
{% endblock %}
{% block stylesheets %}

	<style>
		.recipes-title-bar {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		.btn-add-fav {
			padding: 5px 10px;
			background-color: #7daf74; /* Vert Bootstrap */
			border: none;
			border-radius: 5px;
			cursor: pointer;
			font-size: 0.9em;
			color: white; /* Pour un meilleur contraste avec le fond vert */
		}

		.btn-add-fav:hover {
			background-color: #218838; /* Un vert légèrement plus foncé pour l'effet de survol */
		}
	</style>


{% endblock %}

{% block content %}

	<!-- SubHeader -->
	<section class="parallax-window" data-parallax="scroll" data-image-src="{{ asset('assets/images/recipes.png') }}" data-natural-width="1400" data-natural-height="520">
		<div id="sub_header">
			<div class="container" id="sub_content">
				<div class="row">
					<div class="col-md-12">
						<h1>More than 100 Recipee.</h1>
						<form method="get" action="{{ path('app_recipes') }}">
							<div id="custom-search-input">
								<div class="input-group">
									<input type="text" name="search" class="search-query" placeholder="Search..." value="{{ app.request.query.get('search', '') }}">
									<span class="input-group-btn">
										<button type="submit" class="btn_search">Search</button>
									</span>
								</div>
							</div>
						</form>

					</div>
				</div>
				<!-- End row -->
			</div>
			<!-- End container -->
		</div>
	</section>

	<!-- End SubHeader -->

	<div class="container margin_60">
		<div class="main_title">
			<h2 class="nomargin_top">Top Review</h2>
			<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod</p>
			<hr class="divider">
		</div>
		<!-- End main_title -->
		<div class="row">
			{% for recipe in recipes %}
				<div class="col-md-4 col-sm-6 col-xs-12">
					<div class="recipes-review">
						<div class="recipes-img">
							<img src="{{ asset('assets/images/' ~ recipe.pictureRecipe) }}" alt="{{ recipe.titleRecipe }}">
						</div>
						<div class="recipes-content">
							<div class="recipes-title-bar">
								<h3>
									<a href="{{ path('app_recipe_detail', {'id': recipe.id}) }}">{{ recipe.titleRecipe }}</a>
								</h3>
								<form action="{{ path('add_to_fav', {'id': recipe.id}) }}" method="post">
									<button type="submit" class="btn-add-fav">add To favory</button>
								</form>
								<!-- Bouton Ajouter aux favoris -->
							</div>
							<div class="col-details">
								<ul class="details">
									<li>
										<img src="http://placehold.it/48x48" class="img-profile" alt="">
									</li>
									<li>
										<h4>Saad Mouden</h4>
									</li>
								</ul>
								<div class="review-final-score">
									<h3>9.9</h3>
									<h4>Review Score</h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
	<!-- End container -->

{% endblock %}
